body{
    color:white;
    background-color:black;

    width:100vh;
    height:100vh;
}

button{
    width:100px;
    height:30px;
}

label input{
    text-align:right;

    width:75px;
    height:25px;

    margin:3px
}

#chartFrame{
    width:1100px;
}